body {
	font-family: 'Helvetica', 'sans-serif';
}

h1 {
	font-weight:bold;
}

h2 {
	font-style: italic;
	font-size:120%;
}

a {
	color: #AC1F1F;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}


#rf_header {
	padding: 10px 50px 20px 50px;
	background: #F0D0D0;
	border-bottom: 1px solid #AC1F1F;
}

#rf_footer {
	padding: 15px 50px 15px 50px;
	background: #F0D0D0;
	border-top: 1px solid #AC1F1F;
	border-bottom: 1px solid #AC1F1F;
}


#rf_header h1 {
	font-size: 64px;
	margin-bottom: 5px;
}

#rf_header img {
	width:74px;
	padding-left:5px;
}

#rf_header h2 {
	font-size: 20px;
	color: #606060;
}

.rf_red {
	color: #AC1F1F;
}

#rf_content {
	padding:20px 50px;
}

#rf_content h1 {
	font-size: 34px;
	margin-bottom: 20px;
}

.rf_manageable {
	margin-bottom:30px;
}

.rf_manageable td, .rf_manageable th {
	padding-bottom:10px;
	vertical-align: middle;
}

.rf_manageable th {
	font-size:24px;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}

.rf_table_left {
	font-weight: bold;
	padding-right: 30px;
}

.rf_manageable input, .rf_manageable textarea, .rf_manageable select {
	font: inherit;
	font-size:90%;
	width: 300px;
}

#rf_resource_metadata{
}

#preview {
	float:left;
	margin-right:30px;
}

.clearer {
	clear:both;
}

.rf_resource {
	margin: 40px 0 0 0;
}


.rf_resource p {
	margin: 15px 0;
	color: #999999;
}

.rf_resource .field_name {
	color: #999999;
}

.rf_resource > span {
	display: inline-block;
	padding-right: 30px;
}

.rf_search {
	font-size: 150%;
	text-align: center;
}

.rf_search input {
	font-size: inherit;
}

#rf_resource_metadata p {
	margin: 20px 0;
}

#rf_resource_metadata td {
	padding: 10px 5px 10px 0;
}

#rf_resource_metadata table {
	margin: 10px 0;
}

.fb-comments {
	margin: 20px 0;
}
